<H2>Lançamentos</H2>

<div class="field">
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText class="w-full">
    <label for="float-input">Descrição</label>
  </span>
  <div class="field">
    <span class="p-float-label">
      <br>
      <label style="display: block">Vencimento</label>
      <br>
    </span>

    <span class="w-full">
      <p-inputMask mask="99/99/9999" placeholder="Data inicial"></p-inputMask>
      <label> até </label>
      <p-inputMask mask="99/99/9999" placeholder="Data final"></p-inputMask>
    </span>
  </div>
</div>
