<br>
<form [formGroup]="lancamentoBusca">
  <section class="container">
    <div class="field">
      <label>Descrição</label>
      <span style="display: block">
        <input id="float-input" type="text" pInputText class="w-full" formControlName="descricao">
      </span>
      <br>
      <div class="field">
        <label style="display: block">Vencimento</label>
        <span class="w-full">
          <p-calendar placeholder="Data inicial" formControlName="dataInicial"></p-calendar>
          <label> até </label>
          <p-calendar placeholder="Data final" formControlName="datafinal"></p-calendar>
        </span>
      </div>
      <button pButton pRipple type="button" (click)="submitForm()" label="Pesquisar" class="p-button-raised p-button-secondary"></button>
    </div>
  </section>
</form>

<div>
  <div>
    <p-table responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>

