<br>
<section class="container">
  <div class="field">
    <label>Descrição</label>
    <span>
      <input id="float-input" type="text" pInputText class="w-full">
    </span>
    <br>
    <div class="field">
      <label style="display: block">Vencimento</label>
      <span class="w-full">
        <p-inputMask mask="99/99/9999" placeholder="Data inicial"></p-inputMask>
        <label> até </label>
        <p-inputMask mask="99/99/9999" placeholder="Data final"></p-inputMask>
      </span>
    </div>
    <button pButton pRipple type="button" label="Pesquisar" class="p-button-raised p-button-secondary"></button>
  </div>
</section>

