/* You can add global styles to this file, and also import other style files */
body{
  background-color: #2A323D;
}

label{
  color: #FFFF;
  font-weight: bold;
}

.container{
  width: 95%;
  margin: 0 auto;
}
