<!DOCTYPE html>
<header>
  <body>
    <section>
      <h3>Lista de comida</h3>
      <br>

      <span class="p-float-label">
        <input #inputValeu id="float-input" type="text" pInputText>
        <label for="float-input">Informe outra comida</label>
      </span>
      <br>
      <button
        pButton pRipple (click)="listAddFoodList(inputValeu.value)" icon="pi pi-check"
        label="Salvar" class="p-button-raised p-button-secondary">
      </button>

      <ul>
        <li *ngFor="let foodLists of foodList">
          {{ foodLists }}
        </li>
      </ul>
    </section>
  </body>
</header>
